.idea/
.DS_Store

**/*plugin.dylib
**/*plugin.so
**/*plugin.dll
**/rtdb_writer
analog.csv
digital.csv
csvgen/main.go
writer/tests.md
/plugin_example/gowrite_plugin.h
/pkg/
/CSV/
/.run/
/writer/vendor/
/plugin_example/vendor/
/session_example/vendor/
